@using WS_CMVC_Demo.Models.UserPackagesViewModels
@model DownloadRequestViewModel

@{
    ViewData["Title"] = "Выгрузка заявок в Excel";
}

<h1>@ViewBag.Title.</h1>
<h3>Поля для выгрузки</h3>


<ul>
    @foreach (var item in Model.Columns)
    {
        <li>@item</li>
    }
</ul>
<form method="post">
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <input type="submit" name="submitButton" value="Сохранить выгрузку(заявки)" class="btn btn-outline-success" />
    <input type="submit" name="submitButton" value="Сохранить выгрузку(пользователи)" class="btn btn-outline-success" />
    <input type="submit" name="submitButton" value="Сохранить выгрузку(питание)" class="btn btn-outline-success" />
</form>
<hr />
<div>
    <a asp-controller="AdminPanel" asp-action="Index">Назад</a>
</div>
<hr />