
@{
    ViewBag.Title = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>Пароль пользователя успешно сброшен</h4>
<br />
@Html.ActionLink("Вернуться к управлению пользователями", "Index", null, new { @class = "btn btn-outline-secondary btn-lg" })
