
@{
    ViewData["Title"] = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-danger" role="alert">
  Регистрация в системе возможна только по индивидуальной ссылке. 
  Обратитесь к <a asp-controller="Home" asp-action="Contacts" class="alert-link">организатору</a> для получения ссылки.
</div>
