.main-table {
    width: 69.68vh;
    height: 49.5vh;
    border-collapse: collapse;
}

.main-td {
    width: 50%;
    vertical-align: top;
    border: none;
    height: 49vh;
}

.main-td-l {
    padding: 3.8vh 3.5vh 0vh 3.5vh;
}

.main-td-r {
    color: black;
    padding: 2vh 2.8vh 0vh 3vh;
    visibility: visible;
}

.c-leg {
    padding-top: 1.8vh;
}

.leg-td {
    vertical-align: top;
    padding: 0vh 0vh 0vh 1vh;
    font-size: 0.85vh;
    font-family: 'Mayak_Condensed-Light';
    line-height: 1;
}

.t4 {
    font-size: 1.1vh;
    font-family: 'Mayak_Condensed-Light';
    line-height: 1.7;
}

.t3 {
    font-family: 'Mayak_Condensed-Medium';
    font-size: 1.3589vh;
}

.t33 {
    font-family: 'Mayak_Condensed-Medium';
    font-size: 1.5vh;
}

.t2 {
    font-size: 1.4vh;
    font-family: 'Mayak_Condensed-Light';
}

.t22 {
    font-family: 'Mayak_Condensed-Medium';
    font-size: 2.2vh;
    line-height: 1.2;
}

.t1 {
    font-family: 'Mayak_Condensed-Medium';
    font-size: 4vh;
}

.ic {
    width: 2.7vh;
    height: 2.7vh;
}

.ic2 {
    width: 3.4vh;
}

.table-ico td {
    border: solid black 0.1vh;
}

.table-ico {
    margin-bottom: 1.7vh;
    margin-left: 2.1vh;
    visibility: visible;
}

.ih {
    width: 100%;
}

.dbottom {
    height: 12.1vh;
    font-family: 'Mayak_Condensed-Medium';
    padding-left: 3vh;
    font-size: 2.6vh;
    line-height: 1.2;
}

.c-dot {
    border-bottom-style: dotted;
    border-bottom-width: 0.15vh;
    padding-top: 1.2vh;
}

@media print {
    .container {
        padding: 0px !important;
        margin: 0px !important;
    }
}

.s1 {
    font-size: 5vh;
    line-height: 0.9;
}

.s2 {
    font-size: 4.7vh;
    line-height: 1;
}

canvas {
    height: 7vh !important;
}

.hid {
    visibility: hidden;
}